<a href="https://colab.research.google.com/github/eruru0411/git-test/blob/master/Open_API_%EB%8C%80%EA%B8%B0%EC%98%A4%EC%97%BC%EC%A0%95%EB%B3%B4ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#한국환경공단 대기오염정보

## 한국환경공단_측정소 정보
https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000660

In [34]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree               #xml parsing 하기 위함
import pandas as pd 

skey = '6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({ quote_plus('tmX') : '244148.546388', quote_plus('tmY') : '412423.75772', quote_plus('ver') : '1.0' })
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item') :                         #for문으로 item안에 있는 
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['addr'] = item.find('addr').text
  item_dict['tm'] = item.find('tm').text
  print(item_dict)
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList?ServiceKey=6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D&tmX=244148.546388&tmY=412423.75772&ver=1.0
{'stationName': '대정읍', 'addr': '제주특별자치도 서귀포시 대정읍 동일하모로149번길 21-8대정청소년수련관', 'tm': '0.0'}
{'stationName': '고산리', 'addr': '제주 제주시 한경면 고산리3762', 'tm': '0.0'}
{'stationName': '동홍동', 'addr': '제주 서귀포시 동홍동 453-1(서귀포소방서)서귀포소방서', 'tm': '0.0'}

                                       addr stationName   tm
0  제주특별자치도 서귀포시 대정읍 동일하모로149번길 21-8대정청소년수련관         대정읍  0.0
1                        제주 제주시 한경면 고산리3762         고산리  0.0
2           제주 서귀포시 동홍동 453-1(서귀포소방서)서귀포소방서         동홍동  0.0

## 한국환경공단_대기오염 정보
https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000581

### 측정소별 실시간 측정정보 조회

In [40]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree               
import pandas as pd 

skey = '6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('numOfRows') : '10', 
           quote_plus('pageNo') : '1',
           quote_plus('stationName') : '종로구', 
           quote_plus('dataTerm') : 'DAILY', 
           quote_plus('ver') : '1.3' })
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item') :                         
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['mangName'] = item.find('mangName').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  item_dict['pm25Value24'] = item.find('pm25Value24').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  item_dict['pm25Grade'] = item.find('pm25Grade').text
  item_dict['pm10Grade1h'] = item.find('pm10Grade1h').text
  item_dict['pm25Grade1h'] = item.find('pm25Grade1h').text

  #print(item_dict)
  df = df.append(item_dict, ignore_index=True)
df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?ServiceKey=6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D&numOfRows=10&pageNo=1&stationName=%EC%A2%85%EB%A1%9C%EA%B5%AC&dataTerm=DAILY&ver=1.3

  coGrade coValue          dataTime  ... pm25Value24 so2Grade so2Value
0       1     0.5  2021-02-04 21:00  ...          14        1    0.002
1       1     0.6  2021-02-04 20:00  ...          13        1    0.003
2       1     0.5  2021-02-04 19:00  ...          13        1    0.003
3       1     0.5  2021-02-04 18:00  ...          12        1    0.003
4       1     0.4  2021-02-04 17:00  ...          11        1    0.003
5       1     0.4  2021-02-04 16:00  ...          12        1    0.003
6       1     0.4  2021-02-04 15:00  ...          14        1    0.003
7       1     0.4  2021-02-04 14:00  ...          15        1    0.002
8       1     0.4  2021-02-04 13:00  ...          16        1    0.003
9       1     0.5  2021-02-04 12:00  ...          16        1    0.003

[10 rows x 19 columns]

### 시도별 실시간 측정정보 조회

In [42]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree               
import pandas as pd 

skey = '6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('numOfRows') : '10', 
           quote_plus('pageNo') : '1',
           quote_plus('sidoName') : '인천',  
           quote_plus('ver') : '1.3' })
print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item') :                         
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['mangName'] = item.find('mangName').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  item_dict['pm25Value24'] = item.find('pm25Value24').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  item_dict['pm25Grade'] = item.find('pm25Grade').text
  item_dict['pm10Grade1h'] = item.find('pm10Grade1h').text
  item_dict['pm25Grade1h'] = item.find('pm25Grade1h').text

  #print(item_dict)
  df = df.append(item_dict, ignore_index=True)
df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty?ServiceKey=6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D&numOfRows=10&pageNo=1&sidoName=%EC%9D%B8%EC%B2%9C&ver=1.3

  coGrade coValue          dataTime  ... so2Grade so2Value stationName
0       1     0.4  2021-02-04 21:00  ...        1    0.004          신흥
1       1     0.4  2021-02-04 21:00  ...        1    0.003          서해
2       1     0.4  2021-02-04 21:00  ...        1    0.003          영종
3       1     0.3  2021-02-04 21:00  ...        1    0.003          송림
4       1     0.5  2021-02-04 21:00  ...        1    0.002         구월동
5       1     0.4  2021-02-04 21:00  ...        1    0.003          숭의
6       1     0.6  2021-02-04 21:00  ...        1    0.004         석바위
7       1     0.5  2021-02-04 21:00  ...        1    0.005         부평역
8       1     0.9  2021-02-04 21:00  ...        1    0.005          남동
9       1     0.4  2021-02-04 21:00  ...        1    0.003          주안

[10 rows x 20 columns]

### 시도별 실시간 평균정보 조회

In [52]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree               
import pandas as pd 

skey = '6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('numOfRows') : '10', 
           quote_plus('pageNo') : '1',
           quote_plus('itemCode') : 'PM10',
           quote_plus('dataGubun') : 'HOUR', 
           quote_plus('searchCondition') : 'MONTH' })

print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item') :                         
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['itemCode'] = item.find('itemCode').text
  item_dict['dataGubun'] = item.find('dataGubun').text
  item_dict['seoul'] = item.find('seoul').text
  item_dict['busan'] = item.find('busan').text
  item_dict['daegu'] = item.find('daegu').text
  item_dict['incheon'] = item.find('incheon').text
  item_dict['gwangju'] = item.find('gwangju').text
  item_dict['daejeon'] = item.find('daejeon').text
  item_dict['ulsan'] = item.find('ulsan').text
  item_dict['gyeonggi'] = item.find('gyeonggi').text
  item_dict['gangwon'] = item.find('gangwon').text
  item_dict['chungbuk'] = item.find('chungbuk').text
  item_dict['chungnam'] = item.find('chungnam').text
  item_dict['jeonbuk'] = item.find('jeonbuk').text
  item_dict['jeonnam'] = item.find('jeonnam').text
  item_dict['gyeongbuk'] = item.find('gyeongbuk').text
  item_dict['gyeongnam'] = item.find('gyeongnam').text
  item_dict['jeju'] = item.find('jeju').text
  item_dict['sejong'] = item.find('sejong').text

  #print(item_dict)
  df = df.append(item_dict, ignore_index=True)
df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst?ServiceKey=6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D&numOfRows=10&pageNo=1&itemCode=PM10&dataGubun=HOUR&searchCondition=MONTH

  busan chungbuk chungnam daegu daejeon  ... jeonbuk jeonnam sejong seoul ulsan
0    29       27       26    21      32  ...      26      16     27    21    15
1    28       27       25    19      31  ...      27      16     26    21    15
2    25       22       22    15      22  ...      21      16     25    22    12
3    23       21       20    14      21  ...      19      15     16    20    12
4    23       20       19    15      21  ...      20      14     14    16    13
5    24       19       19    14      23  ...      21      16     18    14    13
6    24       17       20    13      25  ...      20      18     20    16    13
7    27       17       21    18      22  ...      21      19     24    16    15
8    32       17       23    19      24  ...      24      23     18    20    19
9    38       19       23    24      27  ...      24      27     17    21    22

[10 rows x 20 columns]

### 시군구별 실시간 평균정보 조회

In [55]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree               
import pandas as pd 

skey = '6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('numOfRows') : '10', 
           quote_plus('pageNo') : '1',
           quote_plus('sidoName') : '서울',
           quote_plus('searchCondition') : 'DAILY' })

print(url+params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item') :                         
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['cityName'] = item.find('cityName').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm25Value'] = item.find('pm25Value').text

  #print(item_dict)
  df = df.append(item_dict, ignore_index=True)
df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst?ServiceKey=6f7cQ5xDJCuvsBUxuTLYzXx5NaRRy8eUKff2r5Ln1vaKC24RLiUh8nEL9lvpIAjZ%2BtGKU2jTO%2BhknnKb1%2F90wA%3D%3D&numOfRows=10&pageNo=1&sidoName=%EC%84%9C%EC%9A%B8&searchCondition=DAILY

  cityName coValue          dataTime  ... pm10Value pm25Value so2Value
0      강남구     0.5  2021-02-04 21:00  ...        20        16    0.003
1      강동구     0.5  2021-02-04 21:00  ...        30        19    0.003
2      강북구     0.4  2021-02-04 21:00  ...        21        11    0.003
3      강서구     0.5  2021-02-04 21:00  ...        22        11    0.005
4      관악구     0.6  2021-02-04 21:00  ...        28        16    0.004
5      광진구     0.5  2021-02-04 21:00  ...        23        13    0.003
6      구로구     0.4  2021-02-04 21:00  ...        20        11    0.004
7      금천구     0.6  2021-02-04 21:00  ...        31        18    0.004
8      노원구     0.6  2021-02-04 21:00  ...        22        18    0.003
9      도봉구     0.3  2021-02-04 21:00  ...        12        10    0.002

[10 rows x 8 columns]